.hero-top-title {
  top: 30rem !important;
  @include media-breakpoint-up(lg) {
    top: 9.5rem !important;
  }
}

.hero-top-subtitle {
  top: 30rem !important;
  @include media-breakpoint-up(lg) {
    top: 13rem !important;
  }
}

.hero-top-logo {
  top: 2rem !important;
  @include media-breakpoint-up(lg) {
    top: 1.5rem !important;
  }
}

.hero-top-content {
  @include media-breakpoint-up(lg) {
    top: 2.5rem !important;
  }
}
