$font-weight-light:                         200 !default;
$font-weight-300:                           300 !default;
$font-weight-book:                          350 !default;
$font-weight-normal:                        400 !default;
$font-weight-medium:                        500 !default;
$font-weight-bold:                          700 !default;

.fw-light{
  font-weight: $font-weight-light !important;
}

.fw-300{
  font-weight: $font-weight-300 !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-book{
  font-weight: $font-weight-book !important;
}

.fw-normal{
  font-weight: $font-weight-normal !important;
}

.fw-medium{
  font-weight: $font-weight-medium !important;
}

.fw-bold{
  font-weight: $font-weight-bold !important;
}
